<!DOCTYPE html>
<html>
	<head>
		{% block head %}
        <link rel="icon" href="/images/Twitter_X.svg" sizes="any" type="/image/svg+xml">
			<link rel="stylesheet" href="/css/styles.css"/>
			<meta meta name="viewport" content="width=device-width, initial-scale=1">
			<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js" integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
			<title>{% block title %}{% endblock %}{{title}}</title>
		 {% include 'nav.twig' %}
		{% endblock %}
	</head>
	<body>
		<div id="content"> 
			{% block content %}
			{% endblock %}
		</div>
			<footer>
				{% block footer %}
					&copy; Copyright 2023 by Noah Drui, CDA Student
				{% endblock %}
			</footer>
	</body>
</html>