{% extends "base.twig" %}

{% block content %}
    <h1>{{title}}</h1>
    <div class="contenu" id="tweet_container">		
    <script src="/js/deleteTweet.js" defer></script>
        {% for tweet in tweets %}
            <div class="tweetCard">
            <b>Noah</b>
                <p>{{tweet.content}}</p>
                <div class="editActions">
                    <h1 class="delete" tweetId="{{tweet._id}}">Delete</h1>
                    <a href="/tweet/edit/{{tweet._id}}">
                        <h1 class="edit">Edit</h1>
                    </a>
                </div>
            </div> <br> 
        {% endfor %}
    </div>
{% endblock %}
