{% extends "base.twig" %}

{% block content %}
	<h1>{{title}}</h1>
	<div class="contenu">
		What's on your mind?
		<br><br><br>
		<form action="/tweet/new" method="POST">
			<textarea maxlength="140" placeholder="I feel..." name="content"></textarea>
			{% if errors %}
				{% for error in errors %}
					<div class="error">{{error}}</div>
				{% endfor %}
			{% endif %}
			<button type="submit">Tweet</button>
		</form>
	</div>
{% endblock %}

